.vscode
libs/agents-manager/lib
libs/agents-manager/node_modules

libs/connections-manager/lib
libs/connections-manager/node_modules

libs/resource-manager/lib
libs/resource-manager/node_modules

libs/master/lib
libs/master/node_modules
libs/master/test/lib
libs/master/test/

libs/slave/lib
libs/slave/node_modules

master_old/lib
master_old/node_modules

tmp
playground/client/dist
playground/client/node_modules

playground/server/dist
playground/server/node_modules

node_modules

