.vscode
libs/agents-manager/lib
libs/agents-manager/node_modules

libs/connections-manager/lib
libs/connections-manager/node_modules

libs/resource-manager/lib
libs/resource-manager/node_modules

master_old/lib
master_old/node_modules

agent/lib
agent/node_modules
